@mixin font-face($name, $weight-name, $weight) {
  @font-face {
    font-family: $name;
    font-style: normal;
    font-weight: $weight;
    src:
      local('#{$name}#{$weight-name}'),
      url('../fonts/#{$name}/#{$name}#{$weight-name}.woff2') format('woff2'),
      url('../fonts/#{$name}/#{$name}#{$weight-name}.woff') format('woff'),
      url('../fonts/#{$name}/#{$name}#{$weight-name}.ttf') format('truetype');
  }
}

@include font-face('Roboto', 'Regular', $--font-weight-regular);
@include font-face('Roboto', 'Medium', $--font-weight-medium);
@include font-face('Roboto', 'Bold', $--font-weight-bold);
@include font-face('OpenSans', 'Regular', $--font-weight-regular);
@include font-face('OpenSans', 'Bold', $--font-weight-bold);
@include font-face('NotoSans', 'Regular', $--font-weight-regular);
@include font-face('NotoSans', 'Bold', $--font-weight-bold);
